.color-picker {
  position: absolute;
  left: -200px; /* Adjust this value to the width of the color picker */
  top: 10px;
  transition: left 0.3s ease; /* Animation for sliding effect */
  z-index: 10;
}

.color-picker.slide-in {
  left: 10px; /* Final position when shown */
}
/* Draw.css */
/* Draw.css */

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  bottom: 0;
  right:0;
  left:0;
}

.canvas {
  flex: 1; /* Allow the canvas to grow and fill available space */
  border: 1px solid black;
  cursor: crosshair;
  touch-action: none; /* Prevent default touch actions */
}

.button-container {
  display: flex;
  justify-content: space-around; /* Space buttons evenly */
  min-height: 50px; /* Fixed height for the button container */
  background-color: #f0f0f0; /* Optional background color */
  border-top: 1px solid #ccc; /* Optional top border */
}
.canvas-wrapper {
  flex-grow: 1; /* Allow the canvas wrapper to grow and fill available space */
  position: relative; /* Positioning context for the canvas */
  overflow: hidden;
}